<% provide(:title, 'Contact') %>
<h1>Physicaly Contact Us</h1>
<ul>
	
	<li>Phone:</li>
	<li>Address:</li>
</ul>
<h1>Digitally Contact Us</h1>
<ul>
	<li>Email:</li>
	<li>Facebook:</li>
	<li>Instagram:</li>
	<li>Tumblr:</li>	
</ul>