<div class="center hero-unit">
	<h1>Welcome</h1>
	<h2>
		To the digital home of the <a href="localhost:3000">ZAO Collective</a>
	</h2>
	<%= link_to "Let's make stuff!", signup_path, class: "btn btn-large btn-primary" %>
</div>